@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 15, 15, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

header, section, footer {
  position: relative; /* Required for z-index to work */
  z-index: 1; /* Higher than the video's z-index */
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

.background-video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

.background-video::-webkit-media-controls-start-playback-button {
  display: none;
}

.prose {
  word-wrap: break-word;
}

.prose pre {
  overflow-x: auto;
}

.prose img {
  max-width: 100%;
  height: auto;
}

.prose table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}